<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Inscrever-se</mat-card-title>
    </mat-card-header>

    <form  [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
            O email é obrigatório.
          </mat-error>
          <mat-error *ngIf="signUpForm.get('email')?.hasError('email')">
            Insira um email válido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Senha" formControlName="password" type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Inscrever-se</button>
      <span class="d-block f-w-500 text-center m-t-24">
      Já possui um conta?
      <a
        [routerLink]="['/login']" class="text-decoration-none text-primary f-w-500 f-s-14">Entrar</a>
  </span>
    </form>
  </mat-card>
</div>
