.svg-page-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.box{
  padding: 10%;
}

.svg-register-wrapper, .svg-list-wrapper {
  width: 45%;
}

.mat-card {
  padding: 20px;
}

.mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
}
