<mat-sidenav-container class="dashboard-container">
  <!-- Sidebar retrátil -->
  <mat-sidenav #sidenav class="dashboard-sidebar" mode="side" [opened]="opened">
    <mat-nav-list class="sidebar-items">
      <mat-list-item class="home" (click)="goToHome()">Home</mat-list-item>
      <mat-list-item class="svg-register" (click)="openSvgRegister()">Registrar/Excluir SVG</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Toolbar com ícone de menu -->
    <mat-toolbar color="primary" class="dashboard-toolbar">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>SVGs Analytics</span>
      <span class="spacer"></span>
      <mat-icon class="user-icon" [matMenuTriggerFor]="menu">account_circle</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>

    <div class="dashboard-content">
      <!-- Exibe o conteúdo de registrar SVG se isRegisteringSvg for true -->
      <app-svg-register *ngIf="isRegisteringSvg"></app-svg-register>

      <!-- Exibe os cards se não estiver registrando SVG -->
      <ul class="cards" *ngIf="!isRegisteringSvg">
        <li class="card"
            *ngFor="let svg of svgs; let i = index"
            [ngClass]="{'card--current': i === currentIndex, 'card--next': i === nextIndex, 'card--out': i < currentIndex}"
            (click)="nextCard()">
          <h1>{{ svg.name }}</h1>
          <div [innerHTML]="svg.content"></div> <!-- Exibe o SVG dinamicamente -->
        </li>
      </ul>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
