<mat-sidenav-container class="dashboard-container">
  <mat-sidenav class="dashboard-sidebar" mode="side" opened>
    <mat-nav-list>
      <mat-list-item>Home</mat-list-item>
      <mat-list-item>Menu 2</mat-list-item>
      <mat-list-item>Menu 3</mat-list-item>
      <mat-list-item>Menu 4</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="dashboard-toolbar">
      <span>Dashboard</span>
      <span class="spacer"></span>
      <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>

    <div class="dashboard-content">
      <ul class="cards">
        <li class="card" *ngFor="let card of cards; let i = index"
            [ngClass]="{'card--current': i === currentIndex, 'card--next': i === nextIndex, 'card--out': i < currentIndex}"
            (click)="nextCard()">
          <h1>{{ card.title }}</h1>
          <p>{{ card.content }}</p>
        </li>
      </ul>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
